<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<head>
    <title>Update Invoice</title>
    <style>
        #myTable {
            width: 100%;
            border-collapse: collapse;
        }

        #myTable th,
        #myTable td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            /* Add a bottom border to each cell */
        }

        #myTable th {
            background-color: #f2f2f2;
        }

        .table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .delete-icon {
            cursor: pointer;
        }


        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            margin-bottom: 20px;
        }

        form {
            margin-bottom: 20px;
            display: flex;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        input[type="date"],
        input[type="submit"] {
            border: 1px solid;
            padding: 10px;
            margin-bottom: 10px;
            width: 300px;
            border-radius: 5px;
        }

        input[type="submit"] {
            background-color: #1eb0df;
            color: white;
            cursor: pointer;
        }

        select {
            padding: 10px;
            margin-bottom: 10px;
            width: 300px;
        }

        .section {
            margin-bottom: 10px;
        }

        .remove-button {
            background-color: #ff0000;
            color: white;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <script>
        if ( ! localStorage.getItem("access_token")){
            console.log("heree");
            window.location.replace(`http://140.238.215.73:8000/api/pdf/login`)
        }
        // var currentUrl = window.location.href;
        // var parts = currentUrl.split("/");
        // var id = parts[parts.length - 1];
        // var url_2 = "http://140.238.215.73:8000/api/pdf/preview-upd/" + id; // Replace with your actual preview URL
        // window.open(url_2, "_blank");
    </script>
    <button
        style="margin-left: 0px; height: 30px; background-color: #5499b9; cursor: pointer; color: white; border-radius: 5px; border: none;"
        onclick="main()">Back to Main</button>

    <form style="width: 80%;" id="form" class="mt-5">
        <div class="first row w-100">
            <div class="col-4">
                <label for="companySelect">Select Company:</label>
                <select id="companySelect" name="companySelect">
    
                    <!-- {% for comp in companies %} -->
                    <option value="{{company.id}}">{{company.name}}</option>
                    <!-- {% endfor %} -->
                    <!-- Add more options dynamically based on available companies -->
                </select>
    
                <label for="projectSelect">Select Project:</label>
                <select id="projectSelect" name="projectSelect">
                    <option value="{{project.id}}">{{project.name}}</option>
                    <!-- Add more options dynamically based on available projects -->
                </select>
    
            </div>
            
            <div class="col-4">
                <label for="startDate">Date:</label>
                <input type="date" id="startDate" value="{{date}}" name="startDate">
    
                <label for="endDate">Due Date:</label>
                <input type="date" id="endDate" value="{{due_date}}" name="endDate">
            </div>
            
            <div class="col-4">
                <label for="invoiceId">Invoice ID:</label>
            <input type="number" id="invoiceId" value="{{data.invoice_id}}" name="invoiceId" placeholder="Enter invoice ID">
            </div>
            
        </div>


        <!-- <div class="section container row">
            <div class="desc col-3 mb-5 mr-5">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" placeholder="Enter description">

                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" placeholder="Enter quantity">

                <label for="unitPrice">Unit Price:</label>
                <input type="number" id="unitPrice" name="unitPrice" placeholder="Enter unit price">
            </div>
            <!-- <label for="totalPrice">Total Price:</label>
            <input type="number" id="totalPrice" name="totalPrice" placeholder="Enter total price"> -->
        <!-- </div> --> 


    </form>
    <section class="mt-5">
        <table id="myTable">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for desc in data.data %}
                <tr class="desc">
                    <td id="description"><input value="{{desc.description}}" style="width: 100%;" type="text"></td>
                    <td id="quantity"><input value="{{desc.qty}}" style="width: 90%;" type="number"></td>
                    <td id="unitprice"><input value="{{desc.unitprice}}" style="width: 90%;" type="number"></td>
                    <td><span class="delete-icon">&#128465;</span></td>
                </tr>
                {% endfor %}
                <!-- Add more rows as needed -->
            </tbody>
        </table>

        <button class="mt-5 mb-5" style="background-color: #1eb0df; width: 105px; height: 45px;
        color: white;
        cursor: pointer; border-radius: 5px; border: 1px" onclick="addRow()" type="button">Add Row</button>
    </section>


    <!-- <button type="button" id="addSectionButton">Add Section</button> -->

    <input onclick="createPdf()" id="create_doc" type="submit" value="Update Invoice">

    <script>
        function main() {
            window.location.replace(`http://140.238.215.73:8000/api/pdf/navigation`);
        }
        // var countOfDesc = prompt("Please enter count of descriptions first: ")
        // console.log(countOfDesc);
        // if (countOfDesc == null) {
        //     window.location.replace(`http://140.238.215.73:8000/api/pdf/navigation`)
        // }
        // while (countOfDesc > 1) {
        //     document.querySelector(".section").innerHTML += `<div class="desc col-3 mb-5 mr-5">
        //     <label for="description">Description:</label>
        //     <input type="text" id="description" name="description" placeholder="Enter description">

        //     <label for="quantity">Quantity:</label>
        //     <input type="number" id="quantity" name="quantity" placeholder="Enter quantity">

        //     <label for="unitPrice">Unit Price:</label>
        //     <input type="number" id="unitPrice" name="unitPrice" placeholder="Enter unit price">`

        //     countOfDesc -= 1
        // }
        // document.getElementById("addSectionButton").addEventListener("click", function (e) {

        // })

        // function addInput() {
        //     var container = document.getElementById("container");
        //     var select = document.getElementById("companies");
        //     var selectedOption = select.options[select.selectedIndex];
        //     var input = document.createElement("input");
        //     input.value = selectedOption.value;
        //     console.log(input);

        //     container.appendChild(document.createElement("br")); // Add line break
        //     container.appendChild(input);
        // }

        const companies = document.getElementById('companySelect');
        const projects_select = document.getElementById('projectSelect');
        fetch(`http://140.238.215.73:8000/api/pdf/list-comps`, {
                method: 'GET',
                headers: {
                    Accept: 'application/json',
                    'Content-Type': 'application/json'
                },
            })
            .then((response) => response.json())
            .then((responseJson) => {
                console.log(responseJson);
                responseJson.forEach(element => {
                    companies.innerHTML +=
                        `<option class="comp-obj" value="${element.id}">${element.name}</option>`

                });
            })
            .catch((error) => {
                console.error(error);
            });

        companies.addEventListener("change", e => {

            projects_select.innerHTML = ''
            projects_select.innerHTML = '<option class="project" value="">Projects</option>'
            let option = e.target;
            comp_id = option.value
            fetch(`http://140.238.215.73:8000/api/pdf/projects/${comp_id}`, {
                    method: 'GET',
                    headers: {
                        Accept: 'application/json',
                        'Content-Type': 'application/json'
                    },
                })
                .then((response) => response.json())
                .then((responseJson) => {
                    console.log(responseJson);
                    responseJson.forEach(element => {
                        projects_select.innerHTML +=
                            `<option class="project-opt" value="${element.id}">${element.name}</option>`

                    });
                })
                .catch((error) => {
                    console.error(error);
                });
        });

        function createPdf() {
            const companies = document.getElementById('companySelect');
            const projects_select = document.getElementById('projectSelect');
            var date = document.getElementById("startDate").value
            var dueDate = document.getElementById("endDate").value
            const invoice = document.getElementById("invoiceId").value
            var comp_option = companies.options[companies.selectedIndex].value;
            var proj_option = projects_select.options[projects_select.selectedIndex].value;
            var descs = document.querySelectorAll(".desc")

            console.log(descs);
            var inpArr = []
            descs.forEach((div) => {
                var descInp = div.querySelector("#description input").value;
                var qty = div.querySelector("#quantity input").value
                var unitPrice = div.querySelector("#unitprice input").value
                inpArr.push({
                    "description": descInp,
                    "qty": qty,
                    "unitprice": unitPrice,
                    "total_price": qty * unitPrice
                })
            })
            var body = {
                comp_id: comp_option,
                proj_id: proj_option,
                date: date,
                due_date: dueDate,
                invoice_id: invoice,
                descriptions: inpArr
            };
            var currentUrl = window.location.href;
            var parts = currentUrl.split("/");
            var id = parts[parts.length - 1];
            id = parseInt(id)
            fetch(`http://140.238.215.73:8000/api/pdf/update-invoice/${id}`, {
                    method: 'PUT',
                    headers: {
                        
                        'Authorization': `Bearer ${localStorage.getItem("access_token")}`,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(body)
                })
                .then(response => response.json())
                .then(data => {
                    console.log("User created successfully:", data);
                    window.location.replace(`http://140.238.215.73:8000/api/pdf/preview/${data["id"]}`);
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        }

        function addRow() {
            var table = document.getElementById("myTable");
            var tbody = table.getElementsByTagName("tbody")[0];

            var newRow = document.createElement("tr");
            newRow.className = "desc"
            var descriptionCell = document.createElement("td");
            descriptionCell.id = "description"
            var descriptionInput = document.createElement("input");
            descriptionInput.type = "text";
            descriptionInput.style = "width: 100%;";
            descriptionCell.appendChild(descriptionInput);
            newRow.appendChild(descriptionCell);

            var quantityCell = document.createElement("td");
            quantityCell.id = "quantity"
            var quantityInput = document.createElement("input");
            quantityInput.type = "number";
            quantityInput.style = "width: 90%;"
            quantityCell.appendChild(quantityInput);
            newRow.appendChild(quantityCell);

            var unitPriceCell = document.createElement("td");
            unitPriceCell.id = "unitprice"
            var unitPriceInput = document.createElement("input");
            unitPriceInput.type = "number";
            unitPriceInput.style = "width: 90%;";
            unitPriceCell.appendChild(unitPriceInput);
            newRow.appendChild(unitPriceCell);

            var actionsCell = document.createElement("td");
            var deleteIcon = document.createElement("span");
            deleteIcon.className = "delete-icon";
            deleteIcon.innerHTML = "&#128465;";
            deleteIcon.addEventListener("click", function () {
                tbody.removeChild(newRow);
            });
            actionsCell.appendChild(deleteIcon);
            newRow.appendChild(actionsCell);

            tbody.appendChild(newRow);
        }
    </script>
</body>

</html>