        .container {
            padding: 80px;
            width: 50%;
            margin: auto;
            font-family: sans-serif;
        }

        .horizontal-line {
            height: 8px;
            width: 100%;

            --tw-bg-opacity: 1;
            background-color: rgb(30 58 138 / var(--tw-bg-opacity));

        }

        ul {
            list-style: none;
        }

        .invoice-section {
            padding-left: 3.5rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 0.5rem
        }

        .company-name {
            font-size: 1.5rem
            /* 24px */
            ;
            line-height: 2rem
            /* 32px */
            ;
            --tw-text-opacity: 1;
            color: rgb(167 139 250 / var(--tw-text-opacity));
        }

        .company-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.75rem
            /* 12px */
            ;
            line-height: 1rem
            /* 16px */
            ;
        }

        .addres-info {
            --tw-text-opacity: 1;
            color: rgb(107 114 128 / var(--tw-text-opacity));
            display: grid;
            gap: 0.125rem
        }

        .bank-info {
            --tw-text-opacity: 1;
            color: rgb(156 163 175 / var(--tw-text-opacity));
            display: grid;
            gap: 0.125rem
        }

        .invoice-title {
            --tw-text-opacity: 1;
            color: rgb(30 58 138 / var(--tw-text-opacity));
            font-size: 2.25rem
            /* 36px */
            ;
            line-height: 2.5rem;
            font-weight: 700
        }

        .invoice-date {
            --tw-text-opacity: 1;
            color: rgb(236 72 153 / var(--tw-text-opacity));
            font-size: 0.875rem
            /* 14px */
            ;
            line-height: 1.25rem;
            font-weight: 700;

        }

        .invoice-details {
            font-size: 0.75rem
            /* 12px */
            ;
            line-height: 1rem
            /* 16px */
            ;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 0.75rem
            /* 12px */
            ;
            /* place-items: center; */
            align-items: flex-start;
            width: 80%;
            margin-top: 1.25rem --tw-text-opacity: 1;
            color: rgb(107 114 128 / var(--tw-text-opacity));
        }

        .invoice-label {
            font-size: 0.875rem
            /* 14px */
            ;
            line-height: 1.25rem
            /* 20px */
            ;
            font-weight: 700;

        }

        .invoice-address {
            --tw-text-opacity: 1;
            color: rgb(107 114 128 / var(--tw-text-opacity));
            display: grid;
            gap: 4px;
            padding-left: 0;
        }

        .invoice-recipient {
            --tw-text-opacity: 1;
            color: rgb(107 114 128 / var(--tw-text-opacity));

        }

        .invoice-number {
            --tw-text-opacity: 1;
            color: rgb(107 114 128 / var(--tw-text-opacity));
        }

        /* --tw-text-opacity: 1;
        color: rgb(107 114 128 / var(--tw-text-opacity)); */
        .invoice-project {
            grid-column-start: 2
        }



        .invoice-project-name {
            --tw-text-opacity: 1;
            color: rgb(107 114 128 / var(--tw-text-opacity));
        }

        .invoice-due-date {
            --tw-text-opacity: 1;
            color: rgb(107 114 128 / var(--tw-text-opacity));
        }




        .invoice-items {
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));

        }

        .item-description {
            grid-column: span 2 / span 2;

        }

        .item-title {
            font-size: 0.875rem
            /* 14px */
            ;
            line-height: 1.25rem
            /* 20px */
            ;
            --tw-text-opacity: 1;
            color: rgb(30 58 138 / var(--tw-text-opacity));
            font-weight: 700;
            margin-bottom: 0.5rem
            /* 8px */
            ;

        }

        .text-right {
            text-align: right;
            font-size: 0.875rem
            /* 14px */
            ;
            line-height: 1.25rem
            /* 20px */
            ;
            font-weight: 700;
            --tw-text-opacity: 1;
            color: rgb(30 58 138 / var(--tw-text-opacity));
            margin-bottom: 0.5rem
            /* 8px */
            ;


        }

        .item-list {
            font-weight: 600;
            font-size: 0.75rem
            /* 12px */
            ;
            line-height: 1rem
            /* 16px */
            ;
            display: grid;
            gap: 0.5rem
            /* 8px */
            ;
            padding-left: 0;

        }

        .text-right>.item-list {
            color: rgb(107 114 128 / var(--tw-text-opacity));

        }




        .invoice-divider {
            margin-top: 1.5rem
            /* 24px */
            ;
            margin-bottom: 1.5rem
            /* 24px */
            ;
        }

        .invoice-footer {
            display: flex;
            align-items: start;
            justify-content: space-between;

        }

        .notes-label {
            font-size: 0.75rem
            /* 12px */
            ;
            line-height: 1rem
            /* 16px */
            ;
            --tw-text-opacity: 1;
            color: rgb(156 163 175 / var(--tw-text-opacity));
        }

        .invoice-summary {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            text-align: right;
            column-gap: 2.5rem
            /* 40px */
            ;
            font-size: 0.75rem
            /* 12px */
            ;
            line-height: 1rem
            /* 16px */
            ;
            gap: 0.5rem
            /* 8px */
            ;
            place-content: start;
            place-items: start;
            content: start;
            /* place-items: start; */

        }


        .summary-label {
            --tw-text-opacity: 1;
            color: rgb(30 58 138 / var(--tw-text-opacity));
            font-weight: 600;
            margin: 0;
            padding: 0;

        }

        .summary-value {
            font-weight: 700;

        }

        .total-amount {
            grid-column: span 2 / span 2;
            font-size: 1.875rem
            /* 30px */
            ;
            line-height: 2.25rem
            /* 36px */
            ;

            --tw-text-opacity: 1;
            color: rgb(236 72 153 / var(--tw-text-opacity));
            font-weight: 600;

        }